NISCORE_APP_NAME=NISCore API
NISCORE_APP_VERSION=0.4.0
NISCORE_ENV=dev
NISCORE_DATABASE_URL=postgresql+psycopg2://niscore:niscore@localhost:5432/niscore
NISCORE_API_TOKEN=change-me-in-production
NISCORE_CORS_ORIGINS=*
NISCORE_JWT_SECRET=change-me-super-secret
